# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

#Folder data
models/4gestures/dataTrain/
models/8gestures/dataTrain/
models/10gestures/dataTrain/
models/12gestures/dataTrain/
models/15gestures/dataTrain/
models/27gestures/dataTrain/

#Folder model
models/4gestures/final_model_5/
models/8gestures/final_model_5/
models/10gestures/final_model_128_2/
models/15gestures/final_model_5/
models/10gestures/final_model_128_2/
models/27gestures/final_model_5/
models/27gestures/final_model_128_2/
models/27gestures/final_model_128/

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
